.nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;

    >li {
        float: left;

        >a {
            margin-right: 2px;
            line-height: 1.5;
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;

            &:hover {
                border-color: #eee #eee #ddd;
            }
        }

        &.active {
            >a {
                color: #555;
                cursor: default;
                background-color: #fff;
                border: 1px solid #ddd;
                border-bottom-color: transparent;

                &:hover,
                &:focus {
                    color: #555;
                    cursor: default;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-bottom-color: transparent;
                }
            }
        }
    }
}

.tab-content {
    .tab-pane {
        float: left;
        width: 100%;
        display: none;

        &.active {
            display: block;
            padding: 10px;
            background-color: #fff;
        }
    }
}





.switch {
    position: relative;
    display: inline-table;
    width: 35px;
    height: 19px;


    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider {
            background-color: #2196F3;
        }
        
        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        &:checked+.slider:before {
            -webkit-transform: translateX(15px);
            -ms-transform: translateX(15px);
            transform: translateX(15px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        /* Rounded sliders */
        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
        
    }
}




